<!DOCTYPE html>
<html>
<head>
  <title>My Post</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>My Post</h1>

<p>My post desc</p>

<%= yield %>

</body>
</html>
